<html>
  <head>
    <title>Formula 1 Model for Cars Recognition - Prediction Page</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if debugging_local == "False" %}
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    {% endif %}
    <link href="//vjs.zencdn.net/7.14.3/video-js.css" rel="stylesheet">
    <link href="https://unpkg.com/@videojs/themes@1/dist/city/index.css" rel="stylesheet" />
    <link rel="stylesheet" href="{{ url_for('static', path='style.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="{{ url_for('static', path='script.js') }}"></script>
  </head>
  <body>
    <div id="wrapper-predict">
      <div id="results">
        {% if is_image == 1 %}
        <h1><b>Formula 1</b> Model for Cars Recognition - <b>Annotated Image</b></h1>
          <img src="{{ url_for('static', path=content_filepath) }}" />
        {% endif %}
        {% if is_video == 1 %}
        <h1><b>Formula 1</b> Model for Cars Recognition - <b>Annotated Video</b></h1>
        <div class="video_js">
          <video id="example_video_1" width="710" height="400" class="video-js  vjs-theme-city vjs-big-play-centered" controls
             preload="auto" width="640" height="264" data-viblast-key="N8FjNTQ3NDdhZqZhNGI5NWU5ZTI=">
             <source src="/get_video/{{video.name}}" type="video/mp4" />
          </video>
        </div>
        <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
        <script src="https://vjs.zencdn.net/7.14.3/video.min.js"></script>
        <script>
            videojs('#example_video_1', {}, function () { });
        </script>
        <a href="/get_video/{{video.name}}">Download your <b>annotated video</b></a>
        {% endif %}
        <br /><br />
        <p>Disclaimer: Model is trained to recognize F1 cars <b>only from 2020 season</b>. It is <b>unable to generalize.</b><br /> It could <b>classify other images/videos incorrectly</b> (e.g. from other seasons or from different contexts at all).</p>
        <br />
        <a href="/">Go back to the <b>homepage</b></a>
      </div>
      {% if is_video == 1 %}
      <div id="submission">
        <h1><b>Formula 1</b> Model for Cars Recognition - <b>Annotated Video Frame</b></h1>
        <img src="{{ url_for('static', path='temp_file_annotated.jpg') }}" width="960" height="540" />
      </div>
      {% endif %}
    </div>
  </body>
</html>